@model Monthly_Bill_Calculator.DB_Models.Month

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Month</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthNumber" class="control-label"></label>
                <input asp-for="MonthNumber" class="form-control" />
                <span asp-validation-for="MonthNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectricityId" class="control-label"></label>
                <select asp-for="ElectricityId" class="form-control" asp-items="ViewBag.ElectricityId"></select>
                <span asp-validation-for="ElectricityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColdWaterId" class="control-label"></label>
                <select asp-for="ColdWaterId" class="form-control" asp-items="ViewBag.ColdWaterId"></select>
                <span asp-validation-for="ColdWaterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotWaterId" class="control-label"></label>
                <select asp-for="HotWaterId" class="form-control" asp-items="ViewBag.HotWaterId"></select>
                <span asp-validation-for="HotWaterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NaturalGasId" class="control-label"></label>
                <select asp-for="NaturalGasId" class="form-control" asp-items="ViewBag.NaturalGasId"></select>
                <span asp-validation-for="NaturalGasId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SteamId" class="control-label"></label>
                <select asp-for="SteamId" class="form-control" asp-items="ViewBag.SteamId"></select>
                <span asp-validation-for="SteamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CentralHeatingId" class="control-label"></label>
                <select asp-for="CentralHeatingId" class="form-control" asp-items="ViewBag.CentralHeatingId"></select>
                <span asp-validation-for="CentralHeatingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
