@{
    ViewData["Title"] = "Page Not Found";
}

<div class="text-center mt-5">
    <h1 class="display-4">404</h1>

    <p class="lead">
        The page you’re looking for doesn’t exist.<br />
        If you are trying to log in, please go to: <strong>/Month/Index</strong><br />
        There is a bug I am currently fixing.<br />
        Sorry for the trouble!
    </p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
        Go Back Home
    </a>
</div>
