@{
    ViewData["Title"] = "Server Error";
}

<div class="text-center mt-5">
    <h1 class="display-4">500</h1>
    <p class="lead">
        Something went wrong on our side.<br />
        Please try again later.<br />
        Sorry for the inconvenience!
    </p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
        Go Back Home
    </a>
</div>
